body {
    /* background-color: royalblue; */
    /* background-color: red; */
    background-color: #d9c97c;
    overflow: hidden;                   /* Pour empecher l'affichage des Scroll-Bar */    
}

/* ------------------------------------------------------------ */
/*                         Icones des CV                        */
/* ------------------------------------------------------------ */

.clDownloadCVBtn{
    position: absolute;
    top: 5px;
    left: 1815px;
    width: 100px;
    height : 100px;
}
