/* ------------------------------------------------------------ */
/*                           Animations                         */
/* ------------------------------------------------------------ */
/* 
@-webkit-keyframes scrollBkgndSol {
    from {background-position-x: 0px;}
    to {background-position-x: -1920px;} 
}

@-webkit-keyframes scrollBkgndNuages {
    from {background-position-x: 0px;}
    to {background-position-x: -1920px;} 
}
@-webkit-keyframes flottementModule {
    0% {top: 400px;}
    50% {top: 500px;} 
}

@-webkit-keyframes spinVilCoyote {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}

@-webkit-keyframes ejectVilCoyoteG {
    from { transform: translate(0px); }
    to { transform: translate(-1500px, -1500px); }
}

@-webkit-keyframes ejectVilCoyoteD {
    from { transform: translate(0px); }
    to { transform: translate(1500px, -1500px); }
}

@-webkit-keyframes animeImage {
    0% { transform: scale(1.8); }
    100% { transform: scale(1.4); }
}

@-webkit-keyframes rangeCompetence {
    from {transform: translate(0px, 0px); } 
    to {transform: translate(600px, 600px);}
}
 */








@keyframes scrollBkgndSol {
    from {background-position-x: 0px;}
    to {background-position-x: -1920px;} 
}

@keyframes scrollBkgndNuages {
    from {background-position-x: 0px;}
    to {background-position-x: -1920px;} 
}

@keyframes flottementModule {
    0% {top: 400px;}
    50% {top: 500px;} 
}

@keyframes spinVilCoyote {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}

@keyframes ejectVilCoyoteG {
    from { transform: translate(0px); }
    to { transform: translate(-1500px, -1500px); }
}

@keyframes ejectVilCoyoteD {
    from { transform: translate(0px); }
    to { transform: translate(1500px, -1500px); }
}

@keyframes animeImage {
    0% { transform: scale(1.8); }
    100% { transform: scale(1.4); }
}

@keyframes rangeCompetence {
    from {transform: translate(0px, 0px); } 
    to {transform: translate(600px, 600px);}
}

/* ------------------------------------------------------------ */
/*                           Général                            */
/* ------------------------------------------------------------ */
* {
    /* Pour empecher la sélection des objets statiques à l'écran  */
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: royalblue; */
    /* background-color: red; */
    background-color: #d9c97c;
    overflow: hidden;                   /* Pour empecher l'affichage des Scroll-Bar */    
}

/* ------------------------------------------------------------ */
/*                           Arrières-plans                     */
/* ------------------------------------------------------------ */

.clFondEcranSol{
    position: absolute;
    background-image: url("../images/appaloosa_desert_Background-sol-soir.png"); 
    z-index: 4;
    -o-animation: 6s linear infinite scrollBkgndSol;
    -moz-animation: 6s linear infinite scrollBkgndSol;
    -webkit-animation: 6s linear infinite scrollBkgndSol;
    -ms-animation:  6s linear infinite scrollBkgndSol;
    animation:  6s linear infinite scrollBkgndSol;
}

.clFondEcranNuages{
    position: absolute;
    background-image: url("../images/appaloosa_desert_Background-nuages.png");
    opacity: 0.8;
    z-index: 6;
    -o-animation: 3s linear infinite scrollBkgndNuages;
    -moz-animation: 3s linear infinite scrollBkgndNuages;
    -webkit-animation: 3s linear infinite scrollBkgndNuages;
    -ms-animation:  4.5s linear infinite scrollBkgndNuages;
    animation:  4.5s linear infinite scrollBkgndNuages;
}

/* ------------------------------------------------------------ */
/*                          Vil-Coyote                          */
/* ------------------------------------------------------------ */

.clBoiteVilCoyote{
    position: absolute;
    top: 400px;
    left: calc((100% - 300px) / 2);
    width: 300px;
    height: 196px; 
    z-index: 5;
    -o-animation: 4s linear infinite flottementModule alternate;
    -moz-animation: 4s linear infinite flottementModule alternate;
    -webkit-animation: 4s linear infinite flottementModule alternate; 
    -ms-animation: 4s linear infinite flottementModule alternate; 
    animation: 4s linear infinite flottementModule alternate; 
    /* border: solid black 1px;      */
}

.clMasqueVilCoyote{
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 191px;
    height: 196px; 
    /* border: solid red 1px;  */
}

.clSpriteVilCoyote {
    position: absolute;
    /* border: blue solid 3px; */
}

/* ------------------------------------------------------------ */
/*                           Energy Ball                        */
/* ------------------------------------------------------------ */

.clBoiteEnergyBall{
    position: absolute;
    width: 45px;
    height: 45px; 
    display : none;
    z-index: 5;
    /* border: solid black 1px;     */
}

.clMasqueEnergyBall{
    position: relative;
    overflow: hidden;
    margin: auto;
    /* border: solid red 1px; */
}

.clSpriteEnergyBall {
    position: absolute;
    /* border: blue solid 3px; */
}

/* ------------------------------------------------------------ */
/*                             Vautour                          */
/* ------------------------------------------------------------ */

.clBboiteVautour{
    position: absolute;
    width: 260px;
    height: 200px; 
    top: 400px;
    left: 1400px;
    z-index: 5;
    /* border: solid black 1px;     */
}

.clMasqueVautour{
    position: relative;
    overflow: hidden;
    top: 50%; 
    transform: translateY(-50%);
    margin: auto;
    /* border: solid red 1px; */
}

.clSpriteVautour {
    position: relative;
    /* border: blue solid 3px; */
}

/* ------------------------------------------------------------ */
/*                 Panneau de contrôle                          */
/* ------------------------------------------------------------ */

.clBoiteControlPanel{
    position: absolute;
    width: 100%;
    height: 12.5%; 
    bottom: 0px;
    left:0px;
    z-index: 5;
    /* border: solid black 1px;   */
}

.clImgControlPanel{
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------ */
/*                            Targets                           */
/* ------------------------------------------------------------ */
.clBoiteBipBip{
    position: absolute;
    width: 60px;                
    height: 60px;  
    z-index: 7;
    /* border: solid black 1px;     */
}

/* ------------------------------------------------------------ */
/*                         Chiffres du score                    */
/* ------------------------------------------------------------ */
.clBoiteChiffre{
    position: absolute;
    width: 200px;                
    height: 200px;  
    top : 700px;
    left : 1200px;
    z-index: 5;
    /* border: solid black 1px;     */
}

.clMasqueChiffre{
    position: absolute;
    overflow: hidden;
    margin: auto;
   /* border: solid red 1px; */
}

.clSpriteChiffre{
    position: absolute;
}

/* ------------------------------------------------------------ */
/*                         Icones des CV                        */
/* ------------------------------------------------------------ */
.clCVcourt{
    position: absolute;
    top: 910px;
    left: 1245px;
    width: 100px;
    height : 64px;
    filter: grayscale(1);
    z-index: 10;
}

.clCVNLong{
    position: absolute;
    top: 910px;
    left: 1350px;
    width: 100px;
    height : 64px;
    z-index: 10;
}

.clDownloadCV{
    position: absolute;
    top: 5px;
    left: 1815px;
    width: 100px;
    height : 100px;
}

/* ------------------------------------------------------------ */
/*                         Victoire                             */
/* ------------------------------------------------------------ */
.clBoiteLettre{
    position: absolute;
    width: 200px;                
    height: 200px;  
    top : 700px;
    left : 1200px;
    z-index: 5;
    /* border: solid black 1px;     */
}

.clMasqueLettre{
    position: absolute;
    overflow: hidden;
    margin: auto;
   /* border: solid red 1px; */
}

.clSpriteLettre{
    position: absolute;
}
